*{
    box-sizing: border-box;
}

h2{
    text-align: center;
    color: rgba(42, 96, 245, 0.801);
}
body{
    background-color: rgba(230, 230, 134, 0.767);
}


#sec-one{
    float: left;
    width: 30%;
}   
#sec-two{
    float: right;
    width: 30%;
}
img{
    display: inline-block;
    width: 30%;
    height: 300px;
}
ul{
    width: 80%;
    background-color: rgba(255, 248, 220, 0.685);
}

li{
    font-size: 30px;
    font-weight: bold;
    list-style: none;
    color: rgb(59, 111, 207);
}