  
body {
    width: 1090px;
    text-align: center;
    margin: auto;
  }
  
  h1 {

    font-size: 50px;
    font-family: 'Fugaz One', cursive;
  }
  
  h2 {
    text-align: center;
    margin-top: 0;
    font-family: 'Cairo', sans-serif
    
    
  }
  
  p {
    font-family: 'Cairo', sans-serif
  }
  
  ul {
    border-radius: 10px;
    background-color: #7052f1d7;
    border: 1px solid rgb(73, 73, 73);
    padding: 30px;
  }
  
  li {
    list-style-type: none;
    text-transform: capitalize;
    padding: 3px;
    text-decoration-style: double;
    font-family: 'Cairo', sans-serif
    
  }
  
  #imageDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }
  
  img {
    max-width: 25%;
    max-height: 280px;
    border-radius: 8px;
    border: 1px solid slategrey;
    margin: 0 40px;
  }
  
  #resultsSection {
    padding: 30px;
    width: 500px;
    justify-content: space-evenly;
  }
  
  #chartDiv {
  width: 500px;
  height: 500px;
  margin: auto;
  position: absolute;
  }